In [6]:
#82
import numpy as np
import pandas as pd

data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[10,11,12,13],dtype='S',copy=True)
print(s)

10    b'a'
11    b'b'
12    b'c'
13    b'd'
dtype: bytes8

In [10]:
#83-1
data=np.array(['python','c','java','matlab'])
s=pd.Series(data,index=['a','b','c','d'])
print(s)

python

In [8]:
#83-2
data={'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [13]:
#84-1
data=np.array(['python','c','java','matlab','pascal','visual basic'])
s=pd.Series(data)
print("the first item is :",s[0])
print("item from start to before end are:\n",s[1:5:2])
print(s[:])

the first item is : python
item from start to before end are:
 1         c
3    matlab
dtype: object
0          python
1               c
2            java
3          matlab
4          pascal
5    visual basic
dtype: object

In [16]:
#84-2
data=np.array(['python','c','java','matlab','pascal','visual basic'])
s=pd.Series(data)
print("items from start to end are:\n",s.loc[3:5])
print("items from start to end are:\n",s.iloc[1:5:2])

items from start to end are:
 3          matlab
4          pascal
5    visual basic
dtype: object
items from start to end are:
 1         c
3    matlab
dtype: object

In [17]:
print(s.values)

['python' 'c' 'java' 'matlab' 'pascal' 'visual basic']

In [18]:
print(s.index)

RangeIndex(start=0, stop=6, step=1)

In [19]:
#86
data=np.array(range(10,41,2))
s=pd.Series((data))
print("view the top item:\n",s.head(5))
print("view the bottom item:\n",s.tail(3))

view the top item:
 0    10
1    12
2    14
3    16
4    18
dtype: int32
view the bottom item:
 13    36
14    38
15    40
dtype: int32

In [22]:
#87
data=np.array(range(0,10,2))
data1=np.array(range(1,10,2))
df1=pd.Series(data)
df2=pd.Series(data1)
print("df1\n",df1)
print("df2\n",df2)

print("df1+df2:\n",df1+df2)
print("df1*3:\n",df1*3)
print("df2**2:\n",df2**2)
print(df1==df2)

df1
 0    0
1    2
2    4
3    6
4    8
dtype: int32
df2
 0    1
1    3
2    5
3    7
4    9
dtype: int32
df1+df2:
 0     1
1     5
2     9
3    13
4    17
dtype: int32
df1*3:
 0     0
1     6
2    12
3    18
4    24
dtype: int32
df2**2:
 0     1
1     9
2    25
3    49
4    81
dtype: int32
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [23]:
#89-1
pd.Series([1,2,3]).array

<PandasArray>
[1, 2, 3]
Length: 3, dtype: int64

In [25]:
#89-2
data=12,14,16,18,20
s=pd.Series(data)
s.at[4]

20

In [26]:
#89-3
s.dtype

dtype('int64')

In [27]:
s.hasnans

False

In [28]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
s.is_monotonic

C:\Users\Ara-Soft\AppData\Local\Temp\ipykernel_11052\3952076332.py:1: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  s.is_monotonic

True

In [31]:
s.is_monotonic_decreasing

False

In [32]:
s.is_unique

True

In [33]:
s.nbytes

40

In [34]:
s.ndim

1

In [35]:
s.shape

(5,)

In [36]:
s.size

5

In [37]:
s.values

array([12, 14, 16, 18, 20], dtype=int64)

In [1]:
#96
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
print("series1: ")
print(ds1)
print("series2: ")
print(ds2)
print("compare the elements of said series:")
print("equals:")
print(ds1==ds2)
print("greater than:")
print(ds1>ds2)
print("less than:")
print(ds1<ds2)

series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
compare the elements of said series:
equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [3]:
#97
import pandas as pd
s=pd.Series(['100','200','paython','300.12','400'])
new_s=pd.Series(s).sort_values()
print(new_s)

0        100
1        200
3     300.12
4        400
2    paython
dtype: object

In [5]:
#98
import pandas as pd
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
print("original series: ")
print("sr1:\n",sr1)
print("sr2\n",sr2)
print("item of sr1 not present in sr2:")
result=sr1[~sr1.isin(sr2)]
print(result)

original series:
sr1:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2
 0     2
1     4
2     6
3     8
4    10
dtype: int64
item of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [10]:
#99-1
import pandas as pd
import numpy as np

num_series=pd.Series(np.take(list('0123456789'),np.random.randint(10,size=5)))
print("original series:")
print(num_series)
print("frequency of each unique value of the said series :")
result=num_series.value_counts()
print(result)

original series:
0    1
1    2
2    8
3    7
4    3
dtype: object
frequency of each unique value of the said series :
1    1
2    1
8    1
7    1
3    1
dtype: int64

In [12]:
#99-2
import pandas as pd
series1=pd.Series(['php','python','java','c#'])
result=series1.map(lambda x:x[0].upper() + x[1:-1] +x[-1].upper())
print(result)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [15]:
#100-1
series1=pd.Series(['php','python','java','c#'])
print("series1:\n",series1)
result=series1.map(lambda x:len(x))
print(result)

series1:
 0       php
1    python
2      java
3        c#
dtype: object
0    3
1    6
2    4
3    2
dtype: int64

In [17]:
#100-2
date_series=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("date series\n",date_series)
print(pd.to_datetime(date_series))

date series
 0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [20]:
#101

import pandas as pd
from dateutil.parser import parse

date_series=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("date series\n",date_series)


date_series=date_series.map(lambda x:parse(x))
print("day of month ",date_series.dt.day.tolist())

print("day of year ",date_series.dt.dayofyear.tolist())

print("week num ",date_series.dt.weekofyear.tolist())

print(" day of week ",date_series.dt.day_name().tolist())

date series
 0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
day of month  [1, 2, 7, 6, 12, 6]
day of year  [1, 276, 66, 126, 103, 96]
week num  [1, 39, 10, 19, 15, 14]
 day of week  ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

C:\Users\Ara-Soft\AppData\Local\Temp\ipykernel_5424\999484392.py:15: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print("week num ",date_series.dt.weekofyear.tolist())

In [25]:
#102-1
result=pd.Series(pd.date_range('2020-01-01',periods=52,freq='W-SUN'))
print(result)

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [27]:
#102-2
nums=pd.Series([1,3,88,23,3,1,9,0])
print("original series:\n",nums)
print("index max:  ",nums.idxmax())
print("index min:  ",nums.idxmin())

original series:
 0     1
1     3
2    88
3    23
4     3
5     1
6     9
7     0
dtype: int64
index max:   2
index min:   7

In [30]:
#103

drinks={'Drinks menu':['mineral water','fruit juice','milk','cofee','cola'],'prices':[10000,25000,27000,30000,35000]}
dm=pd.DataFrame(drinks,columns=['Drinks menu','prices'],index=['A','B','C','D','F'])
print(dm)

     Drinks menu  prices
A  mineral water   10000
B    fruit juice   25000
C           milk   27000
D          cofee   30000
F           cola   35000

In [32]:
#104
data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print(df)

   Name  Grade
0   tom     20
1  nick     25
2   joe     19
3  jack     16

In [34]:
#106

data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print("Grade column is:\n",df['Grade'])
print("second row is:\n",df.loc[1])

Grade column is:
 0    20
1    25
2    19
3    16
Name: Grade, dtype: int64
second row is:
 Name     nick
Grade      25
Name: 1, dtype: object

In [39]:
#107

data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print(df.loc[2:2])

  Name  Grade
2  joe     19

In [41]:
#107-2

data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print("the first 2 rows :\n",df.head(2))
print("the last 2 rows:\n",df.tail(2))

the first 2 rows :
    Name  Grade
0   tom     20
1  nick     25
the last 2 rows:
    Name  Grade
2   joe     19
3  jack     16

In [43]:
#108
data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print(df['Grade']>=19)

0     True
1     True
2     True
3    False
Name: Grade, dtype: bool

In [45]:
#108-2
data={'Name':['tom','nick','joe','jack'],'Grade':[20,25,19,16]}
df=pd.DataFrame(data,columns=['Name','Grade'])
print(df[df.index>=2])

   Name  Grade
2   joe     19
3  jack     16

In [51]:
#110
import numpy as np
import pandas as pd

exam_data={'name':['A','B','C','D','E','F','G','H','I','J'],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attemps':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
lables=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_data,index=lables)
print(df)
print("num of rows:",len(df.axes[0])) 
print("num of columns:",len(df.axes[1]))

  name  score  attemps qualify
a    A   12.5        1     yes
b    B    9.0        3      no
c    C   16.5        2     yes
d    D    NaN        3      no
e    E    9.0        2      no
f    F   20.0        3     yes
g    G   14.5        1     yes
h    H    NaN        1      no
i    I    8.0        2      no
j    J   19.0        1     yes
num of rows: 10
num of columns: 4

In [53]:
#111-1

exam_data={'name':['A','B','C','D','E','F','G','H','I','J'],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attemps':[1,3,2,3,2,3,1,1,2,1],
          'qua lify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
df=pd.DataFrame(exam_data)
print(df[df['score'].between(15,20)])

  name  score  attemps qualify
2    C   16.5        2     yes
5    F   20.0        3     yes
9    J   19.0        1     yes

In [57]:
#111-2

exam_data={'name':['A','B','C','A','E','F','D','H','F','B'],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attemps':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
df=pd.DataFrame(exam_data)
print("original:\n",df)
print("ascending:\n",df.sort_values(by=['name','score'],ascending=[False,True]))

original:
   name  score  attemps qualify
0    A   12.5        1     yes
1    B    9.0        3      no
2    C   16.5        2     yes
3    A    NaN        3      no
4    E    9.0        2      no
5    F   20.0        3     yes
6    D   14.5        1     yes
7    H    NaN        1      no
8    F    8.0        2      no
9    B   19.0        1     yes
ascending:
   name  score  attemps qualify
7    H    NaN        1      no
8    F    8.0        2      no
5    F   20.0        3     yes
4    E    9.0        2      no
6    D   14.5        1     yes
2    C   16.5        2     yes
1    B    9.0        3      no
9    B   19.0        1     yes
0    A   12.5        1     yes
3    A    NaN        3      no

In [58]:
#112


exam_data={'name':['A','B','C','A','E','F','D','H','F','B'],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attemps':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
df=pd.DataFrame(exam_data)

df['qualify']=df['qualify'].map({'yes':True,'no':False})
print(df)

  name  score  attemps  qualify
0    A   12.5        1     True
1    B    9.0        3    False
2    C   16.5        2     True
3    A    NaN        3    False
4    E    9.0        2    False
5    F   20.0        3     True
6    D   14.5        1     True
7    H    NaN        1    False
8    F    8.0        2    False
9    B   19.0        1     True

In [60]:
#113


exam_data={'name':['A','B','C','A','E','F','D','H','F','B'],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attemps':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
df=pd.DataFrame(exam_data)
df=df.fillna(0)
print(df)

  name  score  attemps qualify
0    A   12.5        1     yes
1    B    9.0        3      no
2    C   16.5        2     yes
3    A    0.0        3      no
4    E    9.0        2      no
5    F   20.0        3     yes
6    D   14.5        1     yes
7    H    0.0        1      no
8    F    8.0        2      no
9    B   19.0        1     yes

In [63]:
#114-1

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(d)
print("original\n",df)
df=df.drop(df.index[[2,4]])
print("remove\n",df)

original
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
remove
    col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [66]:
#114-2
ii
s1=pd.Series(['100','200','python','300.12','400'])
s2=pd.Series(['10','20','php','30.12','40'])

df=pd.concat([s1,s2],axis=1)
print(df)

        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

In [69]:
#115
df=pd.DataFrame({'col1':['c1','c1','c2','c2','c2','c3','c2'],'col2':[1,2,3,3,4,6,5]})
print("originl\n",df)
df=df.groupby('col1')['col2'].apply(list)
print(df)

originl
   col1  col2
0   c1     1
1   c1     2
2   c2     3
3   c2     3
4   c2     4
5   c3     6
6   c2     5
col1
c1          [1, 2]
c2    [3, 3, 4, 5]
c3             [6]
Name: col2, dtype: object

In [72]:
#116
df1=pd.DataFrame({'w':[68,75,86,80,None],'x':[78,85,None,80,86],'y':[84,94,89,83,86],'z':[86,97,96,72,83]})
df2=pd.DataFrame({'w':[78,75,86,80,None],'x':[78,85,96,80,76],'y':[84,84,89,83,86],'z':[86,97,96,72,83]})
print("original\n",df1,"\n",df2)
print(df1.ne(df2))

original
       w     x   y   z
0  68.0  78.0  84  86
1  75.0  85.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  83  72
4   NaN  86.0  86  83
       w   x   y   z
0  78.0  78  84  86
1  75.0  85  84  97
2  86.0  96  89  96
3  80.0  80  83  72
4   NaN  76  86  83
       w      x      y      z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False

In [9]:
#117
import pandas as pd
df = pd.read_excel("hava(1).xlsx")
df
pd.pivot_table(df, index = ['a','b','c','d','e',5,6,7,8,9,10,11,12,13])

C:\Users\acer\AppData\Local\Temp\ipykernel_4496\2354584772.py:5: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(df, index = ['a','b','c','d','e',5,6,7,8,9,10,11,12,13])

       0  1  3   4.33  32  33  39  46  2016
5   0.05  1  3  16.46  24   9  30  36  2016
6   0.15  1  3   3.10   9   2  22  32  2016
7   0.60  1  3   9.10  31  20  34  36  2016
8   2.15  1  3   9.76  33   9  38  43  2016
9   0.00  1  3  17.90  23  14  31  39  2016
10  0.00  1  3   2.20   4   2  14  30  2016
11  0.02  1  3   8.23  19  14  27  34  2016
12  1.22  1  3  11.26  35   9  39  42  2016
13  0.00  1  3  19.76  37   9  40  42  2016
a   0.00  1  3   3.86  31  32  39  47  2016
b   0.16  1  3   9.73  41  35  46  51  2016
c   0.00  1  3   6.86  38  32  45  52  2016
d   0.01  1  3   7.80  29  19  34  38  2016
e   0.09  1  3   8.70  31   9  38  44  2016

In [83]:
,,#117,,
color1=pd.Index(['  green','Black   ','  red   ','white','  pink  '])
print("originl",color1)
print("remove white space",color1.str.strip())
print("remove left white space",color1.str.lstrip())
print("remove right white space",color1.str.rstrip())
,
,,,,,

originl Index(['  green', 'Black   ', '  red   ', 'white', '  pink  '], dtype='object')
remove white space Index(['green', 'Black', 'red', 'white', 'pink'], dtype='object')
remove left white space Index(['green', 'Black   ', 'red   ', 'white', 'pink  '], dtype='object')
remove right white space Index(['  green', 'Black', '  red', 'white', '  pink'], dtype='object')

In [87]:
#118-1
import pandas as pd
import re as re

pd.set_option('display.max_columns',10)
df=pd.DataFrame({'text_code':['t0001.','t0002','t0003','t0004'],
                'text_lang':['she livedd a long life','how oold is your father?','what is tthe problem?','ttthe disk is used by Tom ']})

def rep_char(str1):
    tchr=str1.group(0)
    if (len(tchr)>1):
        return tchr[0:1]
def unique_char(rep,sent_text):
    convert=re.sub(r'(\w)\1+',rep,sent_text)
    return convert

df['normal_text']=df['text_lang'].apply(lambda x: unique_char(rep_char,x))
print("\nremove\n",df)

remove
   text_code                   text_lang               normal_text
0    t0001.      she livedd a long life     she lived a long life
1     t0002    how oold is your father?   how old is your father?
2     t0003       what is tthe problem?      what is the problem?
3     t0004  ttthe disk is used by Tom   the disk is used by Tom

In [3]:
#118-2
import pandas as pd

student_data1=pd.DataFrame({
    'student_id':['s1','s2','s3','s4','s5'],
    'name':['A','B','C','D','E'],
    'marks':[200,210,190,222,199]})

S6=pd.Series(['s6','F',205],index=['student_id','name','marks'])

dicts=[{'student_id':'s6','name':'F','marks':203},
      {'student_id':'s7','name':'G','marks':207}]

print("original\n",student_data1)
print('dictionary\n',S6)

combined_data=student_data1.append(dicts,ignore_index=True,sort=False)
print("combined\n",combined_data)

original
   student_id name  marks
0         s1    A    200
1         s2    B    210
2         s3    C    190
3         s4    D    222
4         s5    E    199
dictionary
 student_id     s6
name            F
marks         205
dtype: object
combined
   student_id name  marks
0         s1    A    200
1         s2    B    210
2         s3    C    190
3         s4    D    222
4         s5    E    199
5         s6    F    203
6         s7    G    207

C:\Users\Ara-Soft\AppData\Local\Temp\ipykernel_3372\3404808471.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data=student_data1.append(dicts,ignore_index=True,sort=False)

In [10]:
#120

import pandas as pd
import numpy as np

np.random.seed(24)
df=pd.DataFrame({'A':np.linspace(1,10,10)})
df=pd.concat([df,pd.DataFrame(np.random.randn(10,4),columns=list('BCDE'))],axis=1)

df.iloc[0,2]=np.nan
df.iloc[3,3]=np.nan
df.iloc[4,1]=np.nan
df.iloc[9,4]=np.nan
print("original \n",df)

def highlight_max(s):
    '''highlight the maximum in a Series yellow '''
    is_max=s==s.max()
    return ['background-color:yellow' if v else '' for v in is_max]

print("\nhighlight the max value in last two columns:")
df.style.apply(highlight_max,subset=pd.IndexSlice[:,['D','E']])

original
       A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

highlight the max value in last two columns:

In [1]:
#121

import pandas as pd
import numpy as np

np.random.seed(24)
df=pd.DataFrame({'A':np.linspace(1,10,10)})
df=pd.concat([df,pd.DataFrame(np.random.randn(10,4),columns=list('BCDE'))],axis=1)

df.iloc[0,2]=np.nan
df.iloc[3,3]=np.nan
df.iloc[4,1]=np.nan
df.iloc[9,4]=np.nan
print("original \n",df)

print("\nbarchart\n")
df.style.bar(subset=['B','C'],color='#fedf5f')

original
       A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

barchart

In [3]:
#122

df1=pd.DataFrame([[10,20,30,40],[7,14,21,28],[55,15,8,12],[15,14,1,8],[7,1,1,8],[5,4,9,2]],
                columns=['apple','orange','banana','pear'],
                index=['basket1','basket2','basket3','basket4','basket5','basket6'])
print(df1)
print("correlation\n")
print(df1.corr())

df2=pd.DataFrame([[10,54,58,41],[14,24,51,78],[55,15,8,12],[15,14,1,8],[7,17,18,98],[15,34,29,52]],
                columns=['apple','orange','banana','pear'],
                index=['basket1','basket2','basket3','basket4','basket5','basket6'])
print("correlation\n")
print(df2.corrwith(other = df1))

         apple  orange  banana  pear
basket1     10      20      30    40
basket2      7      14      21    28
basket3     55      15       8    12
basket4     15      14       1     8
basket5      7       1       1     8
basket6      5       4       9     2
correlation

           apple    orange    banana      pear
apple   1.000000  0.341959 -0.180874 -0.125364
orange  0.341959  1.000000  0.646122  0.737144
banana -0.180874  0.646122  1.000000  0.918606
pear   -0.125364  0.737144  0.918606  1.000000
correlation

apple     0.973359
orange    0.354993
banana    0.920872
pear      0.076919
dtype: float64

In [12]:
#123
df=pd.DataFrame([[10,20,30,40],[7,14,21,28],[5,5,0,0]],
                columns=['apple','orange','banana','pear'],
                index=['basket1','basket2','basket3'])
print("dataframe values:\n",df)
print("dataframe values by rank:\n",df.rank())

dataframe values:
          apple  orange  banana  pear
basket1     10      20      30    40
basket2      7      14      21    28
basket3      5       5       0     0
dataframe values by rank:
          apple  orange  banana  pear
basket1    3.0     3.0     3.0   3.0
basket2    2.0     2.0     2.0   2.0
basket3    1.0     1.0     1.0   1.0